name: Test against RabbitMQ stable

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  repository_dispatch:
    types: [new_client_snapshot]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    services:
      rabbitmq:
        image: rabbitmq:4.2
        ports:
          - 5672:5672

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Output broker version
        run: docker exec ${{job.services.rabbitmq.id}} rabbitmqctl version
      - name: Enable JMS topic exchange plugin
        run: docker exec ${{job.services.rabbitmq.id}} rabbitmq-plugins enable rabbitmq_jms_topic_exchange
      - name: Stop RabbitMQ application
        run: docker exec ${{job.services.rabbitmq.id}} rabbitmqctl stop_app
      - name: Start RabbitMQ application
        run: docker exec ${{job.services.rabbitmq.id}} rabbitmqctl start_app
      - name: Activate Khepri
        run: docker exec ${{job.services.rabbitmq.id}} rabbitmqctl enable_feature_flag --opt-in khepri_db
      - name: Output dependencies
        run: ./mvnw dependency:tree --no-transfer-progress
      - name: Test
        run: ./mvnw clean verify --no-transfer-progress
      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: logs
          path: target/
